<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyClub.Scorer.Wpf.Settings.LanguageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyClub.Scorer.Wpf.Settings.ThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyClub.Scorer.Wpf.Settings.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyClub.Scorer.Wpf.Settings.LanguageSettings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="AutomaticTimeZone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticCulture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeZone" serializeAs="String">
                <value />
            </setting>
        </MyClub.Scorer.Wpf.Settings.LanguageSettings>
        <MyClub.Scorer.Wpf.Settings.ThemeSettings>
            <setting name="Base" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>#E69400</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#338033</value>
            </setting>
            <setting name="PrimaryForegroundColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="AccentForegroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
        </MyClub.Scorer.Wpf.Settings.ThemeSettings>
        <MyClub.Scorer.Wpf.Settings.AppSettings>
            <setting name="IsAutoSaveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="OpenLastProjectOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckMailConnectionOnStart" serializeAs="String">
                <value>True</value>
            </setting>
        </MyClub.Scorer.Wpf.Settings.AppSettings>
    </userSettings>
</configuration>